<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>

    <section class="container">
        <div class="vh-100 d-flex justify-content-center align-items-center">
            <div class="card mb-3 bg-light-opacity-75" style="max-width: 600px;">
                <div class="row g-0 align-items-center justify-content-center">
                  <div class="col-md-4 d-flex justify-content-center align-items-center" style="padding-left: 15px;"> <!-- 여백 추가 -->
                    <!--img 안에 본인(이동휘) 이미지 사진 경로나 저장 파일 넣기-->
                    <img src="../images/이동휘.jpg" class="img-fluid rounded-circle" style="width: 150px; height: 150px;" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body text-center">
                        <p class="mb-2">이겨내(조) 팀원</p>
                      <h5 class="card-title">본인 이름</h5>
                      <br>
                      <!-- 본인 글 작성-->
                      <p class="card-text">MBTI : ISTJ</p>
                      <p class="card-text">좌우명 : 사람은 어려움 속에서 성장한다.</p>
                      <p class="card-text">각오와 목표: 다같이 포기하지말고 끝까지가면 좋겠습니다.</p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </section>

  </body>
</html>
